.open	{
  padding: 20px;background-color:#ffd04b;font-size: 26px;
}
.el-menu{
  border-right: none;
}
.fenye{
  margin:15px 0;text-align:right
}
.el-aside {
  display: block;
  position: relative;
  overflow-y: scroll;
}
.close	{
  padding: 10px;background-color:#ffd04b;font-size: 26px;
}
.search-form-inline{
  .el-form-item{
    margin-bottom: 0 !important;
  }
}
.el-tree-node__content{
  margin: 8px 0px;
}
.el-transfer-panel {
  width: 250px;
}
.el-transfer-panel__list.is-filterable {
  height: 390px;
  padding-top: 0;
}
.el-transfer-panel__body {
  height: 440px;
}

.el-tree-node__content{
  margin: 8px 0px;
}
.el-autocomplete-suggestion__wrap{
  margin-bottom:0px !important;
}
.el-scrollbar .el-scrollbar__wrap {overflow-x: hidden;}
.el-tree>.el-tree-node{
  min-width: 100%;
  display:inline-block;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #e4e7ed;
}

.my-autocomplete {
  li {
    line-height: normal;
    padding: 7px;

    .name {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .addr {
      font-size: 12px;
      color: #b4b4b4;
    }

    .highlighted .addr {
      color: #ddd;
    }
  }
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.el-dialog__body{
  padding: 0 20px 20px 20px
}
.avatar {
  width: 178px;
  display: block;
  margin-bottom: 30px;
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 130px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.el-timeline {
  padding-inline-start: 0;
  margin: 15px 0px;
}
.desc{
  color: grey;
}
.el-collapse-item__content {
  padding: 15px 0;
}
.el-collapse-item .el-collapse-item__header{
  font-size: 16px;
}
.el-collapse-item .el-collapse-item__wrap{
  font-size: 14px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
.box-card{
  margin:15px 0;
}